---
permalink: "/gopher/gophermap"
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
{% for post in collections.gopherPosts %}
{% gopherLink post.data.title, "/blog/" + post.page.fileSlug + "/text" %}
{% endfor %}
