---
pagination:
  data: collections.geminiPosts
  size: 1
  alias: post
permalink: "/gemini/blog/{{ post.page.fileSlug }}/index.gmi"
eleventyExcludeFromCollections: true
---
# {{ post.data.title }}

{{ post.rawInput | gemtext | safe }}
